@import "tailwindcss";

:root{
    --color-1-dark: #E9A23B;
    --color-1: #F5D565;
    --color-1-soft: #F5E8D5;
    --color-2: #E3E8EF;
    --color-3-dark: #DD524C;
    --color-3: #F7D4D3;
    --color-4-dark: #32D657;
    --color-4: #A0ECB1;
}